<!DOCTYPE html >
<html>
<div id= "section">
<body>
<form action="/search/">
电影名称:<br>
<input type="text" name="keyword" value="" >
<br>
<input type="submit"  value="搜索" >
</form>
</div>

<div id="footer">
<a href="https://github.com/tahmid-choyon/free-tech-ebooks-from-packtpub" target="_blank">Github上资料</a>
</div>
<div>
<a href="http://cn.bing.com" target="_blank">必应</a>
</div>
<div>
<a href="https://bwh1.net/index.php" target="_blank">搬瓦工VPS</a>
</div>
<div>
<a href="http://gb.cri.cn/radio/" target="_blank">CRI radio</a>
</div>
<div>
<a href="https://docs.python.org/2/library/" target="_blank">python modules</a>
</div>
<div>
<a href="https://cran.r-project.org/doc/manuals/R-intro.pdf" target="_blank">R语言</a>
</div>
<div>
<a href="http://mp.weixin.qq.com/s?__biz=MjM5NjEyMDI2MQ==&mid=2455946739&idx=1&sn=c75c308905551677fca06dc0f8a4f6cf&chksm=b1787659860fff4ff58a20bcfb39598c3d6a7d80a9ea68b126bbdc7eb6004902a09af9a9b2c1&scene=21#wechat_redirect" target="_blank">data analysis</a>
</div>
<div>
<a href="https://uqer.io/community/list/new/multiple/-1/3?label=" target="_blank">优矿</a>
</div>
<div>
<a href="https://www.ricequant.com/courses" target="_blank">ricequant</a>
</div>
<div>
<a href="http://www.tensorfly.cn/" target="_blank">tensorflow</a>
</div>
<div>
<a href="http://blog.csdn.net/datacastle/article/details/52182301" target="_blank">data_get</a>
</div>
<a href="http://man.linuxde.net/" target="_blank">online_linux_command</a>
<div>
<a href="http://www.kanxue.com/" target="_blank">kanxue</a>
</div>

</body>

</html>
